/* Client */

.client h2 {
    color: #050931;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
}

.client h3 {
    color: #131848;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 44px;
}

.client img {
    margin: 49px 0 26px;
}