/* Footer */

footer a {
    color: #DEE5F5;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    margin-left: 220px;
    text-decoration: none;
    display: block;    
}

footer a:hover {
    color: #55BC7E;  
}