/* Background Color */

#fluid-1 {
    background-color: #ECF1F4;
    background-image: url('../icon/bg-dots.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
}

#fluid-2 {
    background-color: #fff;
    background-image: url('../icon/bg-square.svg');
    background-repeat: no-repeat;
    background-position: bottom 67px right 67px;
}

#fluid-3 {
    background-color: rgba(236, 241, 244, 0.41);
    background-image: url('../icon/bg-dots.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
}

#fluid-4 {
    background-color: #344763;
}

#fluid-5 {
    background-color: #fff;
    background-image: url('../icon/bg-dots.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
}

#fluid-6 {
    background-color: rgba(236, 241, 244, 0.41);
}

/* Typography */

* {
    font-family: 'Poppins', sans-serif;
}

h1 {
    color: #050931;
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 14px;
}

h2 {
    color: #050931;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
}

h2.light {
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
}

h3 {
    color: #131848;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

h4 {
    color: #3C3F60;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
}

p {
    color: #8F91A1;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

p.light {
    color: #EAEBF5;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
}

.rmore {
    color: #373B61;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.rmore:hover {
    color: #55BC7E;
}

/* Row */

#row-1 {
    padding-bottom: 103px;
}

#row-2 {
    padding-bottom: 134px;
}

#row-3 {
    padding: 96px 0 125px;
}

#row-4 {
    padding: 60px 0 100px;
}

#row-5 {
    padding: 90px 0 100px;
}

#row-6 {
    padding: 90px 0;
}

#row-7 {
    padding-top: 90px;
}

#row-8 {
    padding-bottom: 100px;
}

/* Responsive */

@media screen and (max-width: 991.5px) {

    .hero, .hero-2 {
        align-items: center;
        text-align: center;
    }

}