/* Hero */

.hero p {
    margin: 14px 0 33px;
}

.hero .slogan {
    color: #4E6570;
    background-color: #D3E8E1;
    display: inline-block;
    border-radius: 23px;
    font-weight: 500;
    font-size: 11px;
    line-height: 20px;
    padding: 5px 23px;
    margin-bottom: 19px;
    width: 249x;
}

.hero img {
    max-width: 100%;
}

.hero form {
    width: 405px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: inline-block;
}

.hero input[type=text] {
    width: calc(100%-131px);
    padding: 16px 23px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #fff;
}

.hero input[type=text]:focus {
    outline: none;
    border: 2px solid #55BC7E;
}

.hero input[type=submit] {
    color: #fff;
    width: 131px;
    margin-left: -10px;
    padding: 16px 28px;
    background: #55BC7E;
    border-radius: 0px 4px 4px 0px;
    border: 2px solid #55BC7E;
}

.hero input[type=submit]:hover {
    color: #55BC7E;
    background: #fff;
    border-radius: 0px 4px 4px 0px;
    transition: 0.5s;
}

/* Hero 2 */

.hero-2 p {
    margin: 13px 0 34px;
}

.hero-2 img {
    max-width: 100%;
}