/* Price */

.price .col-lg-3 {
    padding: 70px 77px 62px;
    box-shadow: 0px 5px 30px rgba(36, 53, 63, 0.06);
}

.price .col-lg-12>h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 28px;
}

h2.price {
    font-weight: 600;
    font-size: 45px;
    line-height: 45px;
    margin-top: 29px;
}

h2.price ~ hr {
    margin: 49px 0 24px;
}

.price h3 {
    color: #55BC7E;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.price p {
    color: #4B4E70;
    font-weight: 400;
    font-size: 15px;
    line-height: 45px;
}

.price .btn {
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background-color: #49A16C;
    border: 2px solid #49A16C;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 4px;
}

.price .btn:hover {
    color: #49A16C;
    background-color: transparent;
    transition: 0.5s;
}