/* Services */

.services .col-lg-2 {
    background-color: #fff;    
    width: 233px;
    padding: 29px 11px 28px;
    margin: 9px 11px;
}

.services .col-lg-2:hover {
    background-color: #49A16C;  
    transition: 1s;
}

.services .col-lg-2:hover p {
    color: #fff;
    transition: 0.5s;
}

.services h2 {
    margin-bottom: 26px;
}

@media screen and (max-width: 1019.5px) and (min-width: 764.5px) {

    .services .col-lg-2 {
        flex: 0 0 calc(100% / 3);
    }
}